<%= link_to bicycle_path(bicycle) do %>
  <div class="pop-content">
    <div class="small">
      <h5 class="pop-title"><%= bicycle.model %></h5>
      <%= cl_image_tag bicycle.photos.first.key, height: 100, width: 100, crop: :fill %>
      <p class="pop-price"><%= bicycle.price_per_day %><span> € / day </span></p>
    </div>
    <div class="big">
      <h5 class="pop-title"><%= bicycle.model %></h5>
      <%= cl_image_tag bicycle.photos.first.key, height: 200, width: 200, crop: :fill %>
      <p class="pop-price"><%= bicycle.price_per_day %><span> € / day </span></p>
    </div>
  </div>
<% end %>
