<div class="banner-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @bicycle.photos.first.key %>')">
  <%= link_to bicycles_path do %>
    <i class="fas fa-arrow-left" style="font-size: 2rem; border-radius: 25%; background-color: white; padding: 4px; margin: 0.5rem;"></i>
  <% end %>
  <div class="booking-box">
    <h3><%= @bicycle.model %></h3>
    <p><%= @bicycle.price_per_day %> € <span> / day </span></p>
    <%= link_to "Book", "#", { class: 'btn btn-primary'} %>
  </div>
</div>
